.login {
    width: 100vw;
    height: 100vh;
    background: url('../../asset/bg.png') no-repeat 50% 50%;
    background-size: cover;

    .login-form {
        background-color: #fff;
        width: 435px;
        height: 396px;
        position: fixed;
        left: 51%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 25px;
        text-align: center;
        padding: 25px 5% 0;
        box-sizing: border-box;

        h2 {
            margin-bottom: 40px;
        }

        .btn {
            width: 100%;
            background: url('../../asset/btn-bg.jpg') no-repeat 100% 100%;
            background-position: center;
            // pointer-events: none; //取消hover
            color: #fff;
            margin-top: 16px;
        }

        .btn:hover {
            width: 100%;
            background: url('../../asset/btn-bg.jpg') no-repeat 100% 100%;
            background-position: center;
            color: #fff;
            margin-top: 16px;
        }


    }
}